<html>

<head>
    <title>Result-anlysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>
    <!-- <div>
        <h1>Result-anlysis:</h1>
        <a href="{{ url_for('index') }}">Home</a>
        
    </div>
     -->
     {% block content %}
     {% endblock %}

     <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
</body>

</html>