{% extends "base.html" %} {% block content %}


<div class="container" >
    <div class="exam-select">
            <form action="/" method="POST" id="form1">
                <select id="my-select" name="exam">
            
                        {% for exam in exam_list %}
                                <option value="{{ exam.id }}">{{ exam.name }}</option>
                        {% endfor %}
                </select>
                <button type="submit" form="form1" value="Submit">Submit</button>
                
            </form>
    

    </div>
   
    <div>
            {% block rank %}
            {% endblock %}
    
    </div>

</div>


{% endblock %}