{% extends "base.html" %}
{% block content %}

        <table>       
                <caption>{{ table_details['caption'] }}</caption>

                <tr>
                {% for header in table_details['headers'] %}
                        <th>{{ header }}</th>
                {% endfor %}
                </tr>

                {% for row in data %}
                <tr>
                        {% if page_depth == 3 %}
                        <td>{{ row.name }}</td>
                        {% elif page_depth == 2 %}
                                <td align="center">{{ loop.index }}</td>
                                <td><a href="/exams/{{ exam_details['exam_id'] }}/colleges/{{ exam_details['college_id'] }}/departments/{{ row.id }}">{{ row.name }}</a></td>
                        {% elif page_depth == 1 %}
                                <td align="center">{{ loop.index }}</td>
                                <td><a href="/exams/{{ exam_details['exam_id'] }}/colleges/{{ row.id }}">{{ row.name }}</a></td>
                        {% else %}
                                <td>Error</td>
                        {% endif %}
                        <td align="center">{{ "%.2f"|format(row.value) }}</td>

                </tr>
                {% endfor %}



        </table>
                



{% endblock %}