<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF to CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>

    
    <div class="container">
        <h1>KTU Result PDF to CSV converter</h1>
        <h2>Upload PDF of KTU result</h2>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="form">
         
                <input name="pdf" id="pdf" onchange="enableSubmit()" type="file" value="">
                <input id="submit-btn" type="submit"  value="Submit" disabled>
        </form>
        
    </div>

    <script>
    
    function enableSubmit(e) {

        document.getElementById('submit-btn').disabled = false;
    }

    </script>
        
    
    
    

   
</body>
</html>